.carousel {
    position: relative;
    width: 750px;
    height: 750px;
    margin: 0 auto; /* Center carousel */
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
}

.carousel img:first-child {
    display: block;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
